script(type='text/javascript', src='/javascript/jquery.min.js')
script(type='text/javascript', src='/javascript/waypoints.min.js')
script(type='text/javascript', src='/javascript/salvattore.min.js')
script(type='text/javascript', src='/javascript/picker.js')
script(type='text/javascript', src='/javascript/picker.date.js')
script(type='text/javascript', src='/javascript/homepage.js')

if hasVideo
    script(type='text/javascript', src='/javascript/froogaloop.min.js')


