footer

    ul.blocks-3.blocks-mobile-50
        li
            a(href="/") weddingpedia
        li.text-centered
            a.icon.icon-facebook
            a.icon.icon-googleplus
        li
            a.right.text-right(href="mailto:info@weddingpedia.ro") info@weddingpedia.ro