footer
    .units-row
        .unit-33
            a(href="/") weddingpedia

        .unit-33.text-centered
            a.icon.icon-facebook
            a.icon.icon-googleplus

        .unit-33
            a.right.text-right(href="mailto:info@weddingpedia.ro") info@weddingpedia.ro
