footer

    ul.blocks-3.blocks-mobile-50
        li
            a(href="/") weddingpedia
        li.text-centered
            a.icon.icon-facebook
            a.icon.icon-googleplus
        li
            a.right.text-right(href="mailto:info@weddingpedia.ro") info@weddingpedia.ro

    .units-row.unit-100
        .unit-33
            a(href="/") weddingpedia

        div.mob50.unit-33.text-centered
            a.icon.icon-facebook
            a.icon.icon-googleplus

        div.mob50.unit-33
            a.right.text-right(href="mailto:info@weddingpedia.ro") info@weddingpedia.ro
