footer
    .ui.inverted.red.page.grid.segment
        .ten.sixteen.column
            .ui.three.column.stackable.grid
                .column.centeredtext
                    p
                        a(href="/") weddingpedia
                    //.ui.inverted.link.list
                    //    a.item furnizori de nunta
                    //    a.item povestiri de blog
                    //    a.item despre noi
                .column.centeredtext
                    .ui.fluid.three.basic.inverted.buttons.socialbuttons
                        .ui.facebook.button
                            i.facebook.icon

                        .ui.google.plus.button
                            i.google.plus.icon

                        .ui.twitter.button
                            i.twitter.icon


                .column.centeredtext
                    p
                        a(href="mailto:info@weddingpedia.ro") info@weddingpedia.ro

