footer

.title Termeni si conditii
p WeddingPedia este un site de promovare video pentru furnizorii de nunta. <a href="/despre#termeni-si-conditii">Citeste mai mult.</a>

.title Share + like
    p
        a.icon.icon-facebook &nbsp
        a.icon.icon-googleplus
.title Contact
p Ne poti scrie la <a href="mailto:office@weddingpedia.ro">office@weddingpedia.ro</a> sau suna la <a href="tel:0722535674">0722.535.674</a>. Tu esti important pentru noi.


.copyright made with <span class="yellow icon icon-heart2"></span> by <a href="http://themobile.ro">themobile</a>