

header.max960(role='banner')

    //logo
    #logo
        a(href="/")



        //desktop menu

        nav.desktop-menu
            .submenu menu
                ul
                    li
                        a(href="/furnizori-de-nunta") furnizori
                    li
                        a(href="/blog") blog
                    li
                        a(href="/despre") cine suntem
                    if userid

                        li
                            a.item(href='/users/'+userid, title='profil') profilul meu
                        li
                            a.item(href='/logout', title='logout') logout
                    else
                        li
                            a.item(href='/login',title='login') login



    #floating-menu
        logo-menu
            a(href="/")
        nav
            ul
                li
                    a(href="/furnizori-de-nunta") furnizori
                li
                    a(href="/blog") blog
                li
                    a(href="/despre") cine suntem
                if userid
                    li#usermenu.submenu profilul meu
                        ul
                            li
                                a.item(href='/users/'+userid, title='profil') profil
                            li
                                a.item(href='/logout', title='logout') logout
                else
                    li
                        a.item(href='/login',title='login') login




    //button for mobile menu opening
    .mobile-nav
        span
        span
        span
        span




.mobile-menu
    .inner
        .close-mobile-nav
            div
            div
        ul
            li
                a(href='/') Home
            li
                a.goproviders(href='/furnizori-de-nunta') Solutii
            li
                a(href='/blog') Povestiri
            li
                a(href='/despre') Despre

            if userid

                li
                    a.item(href='/users/'+userid, title='profil') profilul meu
                li
                    a.item(href='/logout', title='logout') logout
            else
                li
                    a.item(href='/login',title='login') login

    .bottom
        ul.clearfix
            li
                a.icon.icon-facebook
            li
                a.icon.icon-googleplus
            li
                a.icon.icon-twitter

