#spinner
    .spinner-icon


.headersegment
    .logo
        a(href="/")
            img(src="/images/weddingpedia_logo.png" href="/" alt="WeddingPedia")

    nav.navbar.fullwidth
        ul
            li.fly.flyA
                a(href="/") solutii
            li.fly.flyA
                a(href="/") povestiri
            li.fly.flyA
                a(href="/despre") despre noi
            if userid
                li.submenu
                    a(href="#") contul meu
                        ul

                            li
                                a.item(href='/users/'+userid, title='profil') profil
                            li
                                a.item(href='/logout', title='logout') logout
            else
                li.fly.flyA
                    a.item(href='/login',title='login') login


    .mobile-nav
        span.animated.bounceIn
        span.animated.bounceIn
        span.animated.bounceIn
        span.animated.bounceIn






            //
            //
            //.right-nav
            //    ul.desktop-ul
            //        if userid
            //            li.fly.flyA.ui.dropdown.link.item.top.right.pointing
            //                | contul meu
            //                i.dropdown.icon
            //                .menu
            //                    a.item(href='/users/'+userid, title='profil') profil
            //                    a.item(href='/logout', title='logout') logout
            //        else
            //            li.fly.flyA
            //                a.item(href='/login',title='login') login
            //
            //    ul.mobile-ul
            //        li.ui.dropdown.link.item.top.right.pointing
            //            | Menu
            //            i.dropdown.icon
            //            .menu
            //                a.item solutii
            //                a.item highlight
            //                a.item povestiri
            //                a.item(href="/despre") despre
            //                if userid
            //                    a.item(href='/users/'+userid, title='profil') profil
            //                    a.item(href='/logout', title='logout') logout
            //                else
            //                    a.item(href='/login',title='login') login



    //

