#spinner
    .spinner-icon




//desktop menu
//.headersegment
    //.logo
    //    a(href="/")
    //        img(src="/images/weddingpedia_logo.png" href="/" alt="WeddingPedia")
    //
    //nav.navbar.fullwidth
    //    ul
    //        li.fly.flyA
    //            a(href="/") solutii
    //        li.fly.flyA
    //            a(href="/blog") povestiri
    //        li.fly.flyA
    //            a(href="/despre") despre noi
    //        if userid
    //            li.submenu
    //                a(href="#") contul meu
    //                    ul
    //
    //                        li
    //                            a.item(href='/users/'+userid, title='profil') profil
    //                        li
    //                            a.item(href='/logout', title='logout') logout
    //        else
    //            li.fly.flyA
    //                a.item(href='/login',title='login') login


.mobile-nav
    span.animated.bounceIn
    span.animated.bounceIn
    span.animated.bounceIn
    span.animated.bounceIn




.mobile-menu
    .inner
        .close-mobile-nav
            div
            div
        ul
            li
                a(href='/') Home
            li
                a(href='/') Solutii
            li
                a(href='/blog') Povestiri
            li
                a(href='/despre') Despre
    .bottom
        ul.clearfix
            li
                a.icon.icon-facebook
            li
                a.icon.icon-googleplus
            li
                a.icon.icon-twitter

