#spinner
    .spinner-icon


//logo
.header.max1116
    .logo
        a(href="/")



    //desktop menu
    #headersegment
        nav.navbar.fullwidth
            ul
                li
                    a(href="/furnizori-de-nunta") solutii
                li
                    a(href="/blog") povestiri
                li
                    a(href="/despre") despre noi
                if userid
                    li.submenu
                        a(href="#") contul meu
                            ul

                                li
                                    a.item(href='/users/'+userid, title='profil') profil
                                li
                                    a.item(href='/logout', title='logout') logout
                else
                    li
                        a.item(href='/login',title='login') login
        //.logo-menu


#floating-menu
    .logo-menu
        a(href="/")
    nav.navbar.fullwidth
        ul
            li
                a(href="/furnizori-de-nunta") solutii
            li
                a(href="/blog") povestiri
            li
                a(href="/despre") despre noi
            if userid
                li.submenu
                    a(href="#") contul meu
                        ul
                            li
                                a.item(href='/users/'+userid, title='profil') profil
                            li
                                a.item(href='/logout', title='logout') logout
            else
                li
                    a.item(href='/login',title='login') login




//button for mobile menu opening
.mobile-nav
    span.animated.bounceIn
    span.animated.bounceIn
    span.animated.bounceIn
    span.animated.bounceIn




.mobile-menu
    .inner
        .close-mobile-nav
            div
            div
        ul
            li
                a(href='/') Home
            li
                a.goproviders(href='#') Solutii
            li
                a(href='/blog') Povestiri
            li
                a(href='/despre') Despre
    .bottom
        ul.clearfix
            li
                a.icon.icon-facebook
            li
                a.icon.icon-googleplus
            li
                a.icon.icon-twitter

