@import "less/kube.less";
@import "icomoon/style.less";
@import "mediumeditor/medium-editor.less";
@import "mediumeditor/flat.less";
@import "mediumeditor/medium-editor-insert-plugin.less";
@import "select2/select2.less";
@import "onoff.less";

/*******************************
            Variablesm
*******************************/

@facebook-color: #3b5998;
@google-color: #d62d20;

@darkblue: #1F1F1F;
@darkgreen: #95AB63;
@brightgreen: #8BA037;
@lightgrey: #A4B0B0;
//@pink: #C2A7A1;

@pink: #c29da3;
@yellow: #FF9800;
@bkground: #f2f0f0;
//@pink: #fcf8f7;

/*******************************
            Global
*******************************/

html,
body {
  font-size: 14px;
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  color: @darkblue;
  font-weight: 300;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

a {
  text-decoration: none;
  color: @darkblue;
  font-weight: bold;
}

a:hover {
  text-decoration: underline !important;
  color: darken(@darkblue, 20%);
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: @darkgreen;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
}

h1 {
  font-size: 1.8em !important;
}

h2 {
  font-size: 1.5em !important;
}

#page {
  z-index: 0;
  width: 100%;
  min-height: 100%;
}



//mixins
.transition ( @property, @duration, @style: ease-in-out ) {
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @style;

  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @style;

  -ms-transition-property: @property;
  -ms-transition-duration: @duration;
  -ms-transition-timing-function: @style;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @style;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @style;
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;

  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;

  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;

  //  -moz-background-clip:    padding;
  //  -webkit-background-clip: padding-box;
  //  background-clip:         padding-box;
}

.clearfix() {
  zoom: 1;
  &:before {
    content: '';
    clear:both;

    display: block;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*******************************
          custom
*******************************/

.white {
  color: @bkground;
}

.pink {
  color: @pink;
}

.darkblue {
  color: @darkblue;
}

.darkgreen {
  color: @darkgreen;
}

.yellow {
  color: @yellow;
}

.btn-green {
  background-color: @darkgreen;
  color: @bkground;

  &:hover {
    background-color: @brightgreen;
  }
}

.logo a > .h1 {
  color: @bkground;
}

.pad-top-3em {
  margin-top:3em;
  float:left;
}


//provider lists

.providerList {
  clear:both;

  .category-name {
    border-bottom: none;
    text-transform: uppercase;
    color: @brightgreen;
    font-weight: 700;
    padding-top: 3em;
    padding-bottom: 0;
  }

  thead th {
    border-bottom: 1px solid @darkblue;
    border-top: 1px solid @darkblue;
  }

  input[type='checkbox'] {
    margin-right: 1em;
  }

  a {
    font-weight: 300;
    cursor: pointer;
  }

  .pageNum {
    text-align: right;
  }

}

a.btn {
  &:hover {
    text-decoration: none !important;
    color: white;
  }
}

.select2-search {

  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="phone"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="datetime"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="color"]:focus, input[type="time"]:focus, input[type="search"]:focus, input[type="datetime-local"]:focus, textarea:focus {
    outline: none;
    border-color: @pink !important;
    border:none;
    border-bottom: 1px solid @pink;
    color:@darkblue;

  }
}

//add new post
form {

  font-size: 1em;
  max-width: 700px;

  .units-row {
    margin-bottom: 0;
  }

  input, select[multiple], select[multiple="multiple"], textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="phone"], input[type="tel"], input[type="number"], input[type="datetime"], input[type="date"], input[type="month"], input[type="color"], input[type="time"], input[type="search"], input[type="datetime-local"] {
    width: 100%;
    border: 1px solid fade(@pink, 50%);
    background: white;
    padding: 0.5em;
    line-height: 2em;
    color: @darkblue;

    &:focus, &:active {
      outline: none;
      border: 1px solid @pink;
      border-color: @pink;
    }
  }

  textarea {
    resize: none;
  }

  label {
    font-weight: 700;
    font-size: 0.85em;
    color: @lightgrey;
    margin-bottom: 1.4em !important;
  }

  legend {
    color: @darkgreen;
  }
}


.pagination {

  ul {
    margin:0;
  }

  ul li {
    width: 3em;
    float: left;
    list-style: none;

    &.first, &.last {
      content: ' ';
    }

    &.first a::before, &.last a::before {
      //      top: 1px;
      .opacity(0.7);
      font-family: 'weddingpedia';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
    }

    &.last a::before {
      content: '\e095';

    }
    &.first a::before {
      content: '\e094';

    }

    a {
      width: 100%;
      display: block;
      line-height: 2em;
      text-align: center;
      font-weight:300;

      &:hover {
        text-transform: none;
        background-color: @bkground;
        color: @darkblue;
        border: none;
      }

    }

    &.active a {
      .opacity(1);
      border:none;
      font-weight: 600;
      pointer-events: none;
    }
  }
}

.formproviderouter {
  clear:both;
}
.searchbox, .pageNum {
  max-width: 150px;

  input {
    border: none;
    border-bottom: 1px solid fade(@pink, 50%);
    outline: none;
    background: @bkground;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
  }
}

.pageNum {
  width: auto;
  line-height:43px;
  height:43px;

  input {
    line-height: 2em;
    margin-left:1em;
    width: 2em;
    text-align: center;
  }
}

.mediumblog,.providerEditor {
  padding: 0 1em;
  height: 400px;
  border: 1px solid fade(@pink, 50%);
  background: white;
  overflow-y: scroll;
  font-weight:300;
  color:@darkblue;
}

::-webkit-input-placeholder {
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

:-moz-placeholder { /* Firefox 18- */
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

::-moz-placeholder {  /* Firefox 19+ */
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

:-ms-input-placeholder {
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}


#sidebar {
  float: left;
  width: 250px;
  min-width: 250px;
  padding: 1em;
  position: fixed;
  height: 100%;
  background-color: @lightgrey;
  color: @darkblue;

  ul {
    display: table;
  }

  li {
    display: table-row;
    width: 100%;
    text-align: left;
    line-height: 3em;
  }

  a {
    color: @bkground;

  }

  .logo {
    padding-bottom: 3em;
  }
}

#mainview {
  //  float:left;
  width: 100%;
  padding: 1em 1em 1em 260px;
  background-color: white;
  color: @darkblue;
}


.thumbFileName {
  max-height: 150px;
  margin: 1em auto;
  display: block;
}