@import "less/kube.less";
@import "icomoon/style.less";
@import "mediumeditor/medium-editor.less";
@import "mediumeditor/flat.less";
@import "mediumeditor/medium-editor-insert-plugin.less";
@import "select2/select2.less";
@import "onoff.less";

/*******************************
            Variablesm
*******************************/

@facebook-color: #3b5998;
@google-color: #d62d20;

@darkblue: #1F1F1F;
@darkgreen: #95AB63;
@brightgreen: #8BA037;
@lightgrey: #A4B0B0;
//@pink: #C2A7A1;

@pink: #c29da3;
@yellow: #FF9800;
@bkground: #f2f0f0;
//@pink: #fcf8f7;

/*******************************
            Global
*******************************/

html,
body {
  font-size: 14px;
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  color: @darkblue;
  font-weight: 300;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

a {
  text-decoration: none;
  color: @darkblue;
  font-weight: bold;
}

a:hover {
  text-decoration: underline !important;
  color: darken(@darkblue, 20%);
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: @darkgreen;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
}

h1 {
  font-size: 1.8em !important;
}

h2 {
  font-size: 1.5em !important;
}

#page {
  z-index: 0;
  width: 100%;
  min-height: 100%;
}

/*******************************
          custom
*******************************/

.white {
  color: @bkground;
}

.pink {
  color: @pink;
}

.darkblue {
  color: @darkblue;
}

.darkgreen {
  color: @darkgreen;
}

.yellow {
  color: @yellow;
}

.btn-green {
  background-color: @darkgreen;
  color: @bkground;

  &:hover {
    background-color: @brightgreen;
  }
}

.logo a > .h1 {
  color: @bkground;
}

//provider lists

.providerList {
  max-width: 700px;

  .category-name {
    border-bottom: none;
    text-transform: uppercase;
    color: @brightgreen;
    font-weight: 700;
    padding-top: 3em;
    padding-bottom: 0;
  }

  thead th {
    border-bottom: none;
  }

  input[type='checkbox'] {
    margin-right: 1em;
  }

  a {
    font-weight: 300;
    cursor: pointer;
  }

}

a.btn {
  &:hover {
    text-decoration: none !important;
    color: white;
  }
}

.select2-search {

  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="phone"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="datetime"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="color"]:focus, input[type="time"]:focus, input[type="search"]:focus, input[type="datetime-local"]:focus, textarea:focus {
    outline: none;
    border-color: @pink !important;
    border:none;
    border-bottom: 1px solid @pink;
    color:@darkblue;

  }
}

//add new post
form {

  font-size: 1em;
  max-width: 700px;

  .units-row {
    margin-bottom: 0;
  }

  input, select[multiple], select[multiple="multiple"], textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="phone"], input[type="tel"], input[type="number"], input[type="datetime"], input[type="date"], input[type="month"], input[type="color"], input[type="time"], input[type="search"], input[type="datetime-local"] {
    width: 100%;
    border: 1px solid fade(@pink, 50%);
    background: white;
    padding: 0.5em;
    color: @darkblue;

    &:focus, &:active {
      outline: none;
      border: 1px solid @pink;
      border-color: @pink;
    }
  }

  textarea {
    resize: none;
  }

  label {
    font-weight: 700;
    font-size: 0.85em;
    color: @lightgrey;
    margin-bottom: 1.4em !important;
  }

  legend {
    color: @darkgreen;
  }
}

.mediumblog {
  padding: 0 1em;
  height: 400px;
  border: 1px solid fade(@pink, 50%);
  background: @bkground;
  overflow-y: scroll;
}

::-webkit-input-placeholder {
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

:-moz-placeholder { /* Firefox 18- */
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

::-moz-placeholder {  /* Firefox 19+ */
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

:-ms-input-placeholder {
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}


#sidebar {
  float: left;
  width: 250px;
  min-width: 250px;
  padding: 1em;
  position: fixed;
  height: 100%;
  background-color: @lightgrey;
  color: @darkblue;

  ul {
    display: table;
  }

  li {
    display: table-row;
    width: 100%;
    text-align: left;
    line-height: 3em;
  }

  a {
    color: @bkground;

  }

  .logo {
    padding-bottom: 3em;
  }
}

#mainview {
  //  float:left;
  width: 100%;
  padding: 1em 1em 1em 260px;
  background-color: white;
  color: @darkblue;
}
