/*******************************
            Variables
*******************************/

@pink: #E86269;
@grey: #808080;

/*******************************
            Global
*******************************/

html,
body {
  font-size: 13px;
  height: 100%;
}

body {
  font-family: "Monserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  font-weight:300;
  min-width: 320px;
}

/*******************************
          custom
*******************************/

.pink {
  color: @pink;
}

p {
  > .center {
    text-align: center;
  }

  > .large {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}

.ui.page.grid.headersegment {
  padding-bottom: 8rem !important;
  overflow: visible;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .ui.page.grid.segment {
    padding: 0;
  }

  .column.centeredtext p {
    text-align: center;

    > a {
      color: white;
      opacity: 0.75;
      -webkit-transition: opacity 0.1s ease;
      -moz-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
    }
    > a:hover {
      opacity: 1;
    }

  }
}

.socialbuttons, .socialbuttons > .button {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  line-height: 2em;
}

li.fly {
  top: -125px;
}

.navigation {
  display: inline-block;
  //  z-index: 4;

  .logo {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 110px;
    top: 20px;
    z-index: 2;

    img {
      width: 200px;
    }
  }
}

.headerissim {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .inner {
    max-width: 1400px;
    padding: 0 50px;
    margin: auto;
    position: relative;
    text-align: center;
    -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);

    .right-nav {
      position: absolute;
      right: 50px;
      top: 62px;
      -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);

      ul li {
        list-style-type: none;
        list-style: none;
        list-style-image: none;
        list-style-position: outside;
        color: @grey;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        border: solid 1px white;
        border-radius: 4px;
        vertical-align: middle;

      }

      a {
        color: #8b8e96;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .top-bar {
    background-color: @pink;
    width: 100%;
    position: relative;
    padding: 2px 0;

    .first-time {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      text-align: center;
      height: 0;
      overflow: hidden;
      -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);

      h5 {
        display: inline-block;
        color: white;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        vertical-align: middle;
        margin-right: 20px;
        padding: 20px 0;
      }

      a {
        display: inline-block;
        padding: 7px 10px;
        color: white;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        border: solid 1px white;
        border-radius: 4px;
        vertical-align: middle;
      }
    }
  }
}

.headerissim .inner .navigation .desktop-nav {
  display: inline-block;
  object-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  ul {
    padding: 0;

    li:nth-child(2) {
      margin-right: 70px;
      -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    li:nth-child(3) {
      margin-left: 70px;
      -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    li {
      padding: 62px 12px;
      display: inline-block;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      position: relative;
      z-index: 2;
      list-style-type: none;
      list-style: none;
      list-style-image: none;
      list-style-position: outside;

      -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;
      -moz-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;
      -o-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;

      a {
        color: @pink;
        -webkit-transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;
        -moz-transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;
        -o-transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;
        transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) .05s;

      }

      a:hover {
        color: red;

      }
    }
  }

}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/
/*rtl:ignore*/
.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.masthead.segment {
  /*background-image: url(../images/bg.jpg);*/
  /*-webkit-background-size: cover;*/
  /*background-size: cover;*/
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;

  /*-webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;*/
  /*box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;*/
}

.masthead.segment .column {
  position: relative;
}

/*.masthead.segment .information {*/
/*margin: 3em 1em 1em 280px;*/
/*}*/

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width: 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /*rtl:ignore*/
  .menu .right.menu > .item {
    display: none;
  }

  /*rtl:ignore*/
  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  /*rtl:ignore*/
  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {

}