@font-face {
  font-family: 'weddingpedia';
  src: url('../fonts/weddingpedia.eot?-eflj6c');
  src: url('../fonts/weddingpedia.eot?#iefix-eflj6c') format('embedded-opentype'), url('../fonts/weddingpedia.woff?-eflj6c') format('woff'), url('../fonts/weddingpedia.ttf?-eflj6c') format('truetype'), url('../fonts/weddingpedia.svg?-eflj6c#weddingpedia') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'weddingpedia';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-heart:before {
  content: "\e024";
}
.icon-shuffle:before {
  content: "\e057";
}
.icon-repeat:before {
  content: "\e058";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-grid:before {
  content: "\e102";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
/*******************************
            Variablesm
*******************************/
/*******************************
            Global
*******************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(194, 157, 163, 0.1);
}
html,
body {
  font-size: 13px;
  height: 100%;
}
body {
  margin: 0;
  color: #393939;
  font-weight: 300;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  overflow-y: scroll;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
  color: rgba(57, 57, 57, 0.7);
}
h3 {
  font-size: 1em;
  color: rgba(57, 57, 57, 0.7);
}
.max960 {
  margin: 0 auto;
  padding: 0 0px 0px 0px;
  max-width: 960px;
  height: 100%;
  clear: both;
}
#page {
  padding: 0 2em;
  min-height: 100%;
  width: 100%;
  position: relative;
}
#content {
  padding-bottom: 20em;
}
section {
  margin: 0 -2em;
  padding: 3em 2em;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  text-decoration: none;
  color: #393939;
  font-weight: 300;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
a:hover {
  font-weight: 600;
  text-decoration: none;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
/*******************************
          custom
*******************************/
.white {
  color: #ffffff;
}
.pink {
  color: #c29da3;
}
.darkblue {
  color: #393939;
}
.darkgreen {
  color: #95ab63;
}
.yellow {
  color: #ff9800;
}
.btn-green {
  background-color: #95ab63;
  color: #ffffff;
}
.btn-green:hover {
  background-color: #8ba037;
}
.disabled {
  pointer-events: none;
  cursor: default;
}
.disabled a {
  color: #a4b0b0;
}
ul {
  margin: 0;
}
ul li {
  list-style: none;
}
::-webkit-input-placeholder {
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
:-ms-input-placeholder {
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
.verylightgrey1 {
  background-color: #faf8f8 !important;
}
.verylightgrey2 {
  background-color: #f5f5f5 !important;
}
.verylightgrey3 {
  background-color: #ededed !important;
}
.verylightgrey4 {
  background-color: #e6e6e6 !important;
}
#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}
.column {
  float: left;
}
.column .provider {
  margin-right: 2em;
}
.column:last-of-type .provider {
  margin-right: 0;
}
.size-1of1 {
  width: 100%;
}
.size-1of2 {
  width: 50%;
}
.size-1of3 {
  width: 33.333%;
}
.size-1of4 {
  width: 25%;
}
.bloglist {
  zoom: 1;
}
.bloglist:before {
  content: '';
  display: block;
}
.bloglist:after {
  content: '';
  display: table;
  clear: both;
}
.providers {
  display: inline-block;
  width: 100%;
  margin: 2em 0 4em;
}
.provider {
  margin-bottom: 2.5em;
}
.provider a img {
  width: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
.provider a:hover img {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.provider .details {
  text-align: center;
}
.provider .details .name,
.provider .details .category {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.provider .details .name {
  font-size: 0.9em;
  color: #393939;
}
.provider .details .category {
  font-size: 0.8em;
  text-transform: lowercase;
}
.mediumInsert-images {
  margin: 0;
}
.mediumInsert-images img {
  max-width: 100%;
}
.mediumInsert.small img {
  float: left;
  width: 33%;
  margin: 2em;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .row-item:nth-child( 1) {
  background-color: rgba(194, 157, 163, 0.1);
  padding: 1em 2em;
}
footer .row-item:nth-child( 2) {
  background-color: rgba(194, 157, 163, 0.2);
  padding: 1em 2em;
}
footer .row-item:nth-child( 3) {
  background-color: rgba(194, 157, 163, 0.3);
  padding: 1em 2em;
}
footer .footer-heart {
  color: #ff9800;
}
.facebook {
  margin: 0 1em;
  font-weight: 600;
}
.facebook:hover {
  color: #3b5998;
}
.facebook::before {
  font-size: 1.5em;
  position: relative;
  top: 0.2em;
  padding: 0 0.2em;
}
.google {
  margin: 0 1em;
  font-weight: 600;
}
.google:hover {
  color: #d62d20;
}
.google::before {
  font-size: 1.5em;
  position: relative;
  top: 0.2em;
  padding: 0 0.2em;
}
.submenu {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  display: block;
  font-size: 0.9em;
  padding-right: 1em;
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.submenu::after {
  content: ' \25BC';
  position: absolute;
  top: 0;
  right: 0;
}
.submenu ul {
  position: absolute;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  padding: 1em;
  margin-right: -1em;
  background: #ffffff;
  z-index: 10;
  width: 250px;
  -webkit-transition-property: visibility,opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: visibility,opacity;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: visibility,opacity;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: visibility,opacity;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: 'linear';
  transition-property: visibility,opacity;
  transition-duration: 0.2s;
  transition-timing-function: 'linear';
}
.submenu ul li {
  outline: none;
  float: none !important;
}
.submenu:hover ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.submenu ul li a {
  font-weight: 300;
  line-height: 2em;
  width: 100%;
  display: inline-block;
}
.submenu ul li a:focus,
.submenu ul li a:active {
  outline: none;
  color: #393939;
  font-weight: 600;
}
#floating-menu {
  position: fixed;
  top: -160px;
  left: 0;
  width: 100%;
  display: block;
  background: #a4b0b0;
  z-index: 99;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: top;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: top;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: top;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
#floating-menu ul li {
  width: 25%;
  float: left;
  text-align: center;
  line-height: 4em;
}
#floating-menu ul li a {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#floating-menu ul li a:hover {
  color: #ffffff;
}
#floating-menu .submenu {
  color: #ffffff;
}
#floating-menu .submenu ul {
  background-color: #a4b0b0;
  width: 100%;
}
#floating-menu .submenu ul li {
  line-height: 3em;
  width: 100%;
}
#floating-menu .submenu ul li a {
  text-align: center;
  width: 100%;
}
#floating-menu .submenu::after {
  content: '';
}
.show {
  top: 0px !important;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.video-wrapper {
  width: 100% !important;
  padding-bottom: 43% !important;
  height: 0 !important;
  margin: 0 auto;
  position: relative;
}
.video-wrapper iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.searchbox {
  max-width: 150px;
  float: right;
}
.searchbox input {
  border: none;
  border-bottom: 1px solid rgba(194, 157, 163, 0.5);
  outline: none;
  background: #faf8f8;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}
.selectedThing {
  margin-left: 1em;
  letter-spacing: 1px;
  margin-top: -1px;
}
.selectedThing::before {
  content: '| ';
}
.selectedThing a {
  font-weight: 300;
}
.selectedThing a:after {
  content: "\e117";
  font-family: 'weddingpedia';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 0.7em;
  padding-left: 1em;
}
.logo-menu {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  background: transparent url('../images/logo-menu-small.svg') no-repeat;
}
#logo {
  z-index: 2;
  width: 100%;
  min-height: 7em;
  padding-top: 3em;
  margin-bottom: 3em;
}
#logo > a {
  width: 130px;
  background: transparent url('../images/weddingpedia.svg') 0 0 no-repeat;
  height: 60px;
  display: block;
  float: right;
}
#logo > nav {
  clear: both;
  padding-top: 2em;
  text-align: right;
  display: inline-block;
  width: 100%;
}
#logo .submenu ul {
  right: 0;
}
#logo .submenu ul li {
  text-align: right;
}
.mobile-menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: 'ease-out';
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: 'ease-out';
  -ms-transition-property: color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: 'ease-out';
  -o-transition-property: color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: 'ease-out';
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: 'ease-out';
}
.mobile-menu .bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.mobile-menu .bottom ul {
  width: 100%;
  padding: 0 50px;
}
.mobile-menu .bottom ul li {
  width: 33.33%;
  float: left;
  list-style: none;
}
.mobile-menu .bottom ul li a {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.mobile-menu .inner {
  height: 100%;
  width: 100%;
  display: table;
}
.mobile-menu .inner ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.mobile-menu .inner ul li {
  width: 100%;
  padding: 20px;
}
.mobile-menu .inner ul li a {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.mobile-menu .inner .close-mobile-nav {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -32px;
  width: 66px;
  height: 66px;
  margin-top: -32px;
  cursor: pointer;
}
.mobile-menu .inner .close-mobile-nav div {
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 33px;
  left: 20px;
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.text-centered {
  text-align: center;
}
.subtitle {
  font-size: 1.1em;
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto;
}
.mobile-menu.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
  background-color: #95ab63;
  -webkit-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  overflow-y: visible;
}
.mobile-menu.active .inner .close-mobile-nav div:nth-child(1) {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.mobile-menu.active .inner .close-mobile-nav div:nth-child(2) {
  transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
}
.mobile-nav {
  width: 30px;
  position: relative;
  cursor: pointer;
  display: none;
  float: left;
  margin-top: 34px;
  z-index: 9999;
}
.mobile-nav span {
  display: block;
  height: 2px;
  background-color: #393939;
  margin-bottom: 3px;
  width: 0;
  animation-duration: 3s;
}
.mobile-nav span:nth-child(1) {
  width: 22px;
}
.mobile-nav span:nth-child(2) {
  width: 22px;
}
.mobile-nav span:nth-child(3) {
  width: 22px;
}
.mobile-nav span:nth-child(4) {
  width: 18px;
}
#overlay {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(57, 57, 57, 0.6);
  z-index: 9999;
  padding: 0;
  margin: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
  align-items: center;
  justify-content: center;
}
#overlay .overlay-content {
  max-width: 400px;
  background-color: #ffffff;
  color: #393939;
  padding: 3em 1em;
}
.overlay-show {
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
form {
  max-width: 300px;
  margin: 0 auto;
}
form input {
  width: 100%;
  line-height: 1.5em;
  font-size: 1em;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid rgba(149, 171, 99, 0.4);
  text-align: center;
  margin-bottom: 0.5em;
  color: #393939;
}
form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}
form input:focus,
form input:active {
  border: none;
  outline: 1px solid rgba(149, 171, 99, 0.4);
  outline-offset: -1px;
}
.provider-title {
  margin-bottom: 0;
}
.provider-category {
  margin-top: 0;
}
#fav-button {
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
  color: #95ab63;
  width: 100%;
  padding: 1em 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#fav-button.liked-true {
  color: #c29da3;
}
#fav-button:hover {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.video-socialbuttons {
  position: absolute;
  top: 2em;
  left: -1em;
  z-index: 3;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
.video-socialbuttons.playing {
  top: -5em;
  left: 1em;
}
.video-socialbuttons .btns {
  text-align: center;
  line-height: 2em;
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  display: inline-block;
  font-family: 'weddingpedia';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #ffffff;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
  cursor: pointer;
}
.video-socialbuttons .btns:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.video-socialbuttons .btns.fb {
  -webkit-border-top-right-radius: 0.2em;
  -webkit-border-bottom-right-radius: 0.2em;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0.2em;
  -moz-border-radius-bottomright: 0.2em;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #c29da3;
}
.video-socialbuttons .btns.fb:after {
  content: '\f09a';
}
.video-socialbuttons .btns.googl {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0.2em;
  -webkit-border-top-left-radius: 0.2em;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0.2em;
  -moz-border-radius-topleft: 0.2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
  background-color: rgba(194, 157, 163, 0.6);
}
.video-socialbuttons .btns.googl:after {
  content: '\f1a0';
}
button {
  min-width: 10em;
  background-color: #ffffff;
  border: none;
  font-size: 1.1em;
  padding: 0.3em;
  font-weight: 300;
  margin: 0.5em;
  padding: 1em 0;
  outline: none;
  cursor: pointer;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
button:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
button.width100 {
  width: 100%;
}
button.positive {
  background-color: #95ab63;
  color: #ffffff;
}
.pagination ul li {
  margin-right: 0.5em;
  width: 2em;
  float: left;
}
.pagination ul li.first,
.pagination ul li.last {
  content: ' ';
}
.pagination ul li.first::before,
.pagination ul li.last::before {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  font-family: 'weddingpedia';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.pagination ul li.last::before {
  content: '\e095';
}
.pagination ul li.first::before {
  content: '\e094';
}
.pagination ul li a {
  width: 100%;
}
.pagination ul li.active a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  font-weight: 600;
  pointer-events: none;
}
.login-social {
  padding: 1em 0;
}
.login-social h3 {
  margin-bottom: 0.5em;
}
.login-social h3 > a {
  line-height: 1.5em;
  line-height: 2em;
  font-size: 1.4em;
}
.login-social p {
  margin-top: 0;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .mobile-nav {
    display: block;
  }
  #page {
    margin-bottom: 0;
  }
  #logo {
    padding-top: 1em;
  }
  .mobile-nav {
    position: fixed;
    display: block;
    top: 5em;
    right: 2em;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: 'ease-in-out';
    -moz-transition-property: top;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: 'ease-in-out';
    -ms-transition-property: top;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: 'ease-in-out';
    -o-transition-property: top;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: 'ease-in-out';
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: 'ease-in-out';
  }
  .mobile-menu-fixed {
    top: 0em;
  }
  #logo > nav {
    display: none;
  }
  #floating-menu {
    display: none !important;
    -webkit-opacity: 1 !important;
    -moz-opacity: 1 !important;
    opacity: 1 !important;
  }
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
  .mediumInsert.small img {
    float: left;
    width: 50%;
    margin: 1em 1em 1em 0;
  }
}
@media only screen and (max-height: 450px) {
  .mobile-menu .inner ul li {
    padding: 0.1em;
  }
  .mobile-menu .inner ul li a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 450px) {
  body {
    font-size: 12px;
  }
  .header {
    height: 150px;
  }
  .mobile-menu .inner ul li {
    width: 100%;
    padding: 0.5em;
  }
  .mobile-menu .inner ul li a {
    font-size: 1.5em;
  }
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
  .searchbox {
    float: left;
    clear: both;
    width: 100%;
    max-width: 100%;
    margin: 2em 0;
  }
  .searchbox input {
    width: 100%;
    text-align: left;
  }
  .mediumInsert.small img {
    float: none;
    width: 100%;
    margin: 0em;
  }
  #fav-button {
    text-align: center;
  }
}
