@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-isk2qv');
  src: url('../fonts/icomoon.eot?#iefix-isk2qv') format('embedded-opentype'), url('../fonts/icomoon.woff?-isk2qv') format('woff'), url('../fonts/icomoon.ttf?-isk2qv') format('truetype'), url('../fonts/icomoon.svg?-isk2qv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e600";
}
.icon-quill:before {
  content: "\e601";
}
.icon-image:before {
  content: "\e602";
}
.icon-camera:before {
  content: "\e603";
}
.icon-books:before {
  content: "\e604";
}
.icon-profile:before {
  content: "\e605";
}
.icon-file:before {
  content: "\e606";
}
.icon-tags:before {
  content: "\e607";
}
.icon-coin:before {
  content: "\e608";
}
.icon-phone:before {
  content: "\e609";
}
.icon-location:before {
  content: "\e60a";
}
.icon-bubbles:before {
  content: "\e60b";
}
.icon-user:before {
  content: "\e60c";
}
.icon-search:before {
  content: "\e60d";
}
.icon-lock:before {
  content: "\e60e";
}
.icon-unlocked:before {
  content: "\e60f";
}
.icon-cog:before {
  content: "\e610";
}
.icon-pie:before {
  content: "\e611";
}
.icon-menu:before {
  content: "\e612";
}
.icon-link:before {
  content: "\e613";
}
.icon-heart:before {
  content: "\e614";
}
.icon-heart2:before {
  content: "\e615";
}
.icon-info:before {
  content: "\e616";
}
.icon-checkmark:before {
  content: "\e617";
}
.icon-checkmark2:before {
  content: "\e618";
}
.icon-radio-checked:before {
  content: "\e619";
}
.icon-radio-unchecked:before {
  content: "\e61a";
}
.icon-share:before {
  content: "\e61b";
}
.icon-mail:before {
  content: "\e621";
}
.icon-googleplus:before {
  content: "\e61c";
}
.icon-facebook:before {
  content: "\e61d";
}
.icon-twitter:before {
  content: "\e61e";
}
.icon-vimeo2:before {
  content: "\e61f";
}
.icon-pinterest:before {
  content: "\e620";
}
/*******************************
            Variablesm
*******************************/
/*******************************
            Global
*******************************/
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 13px;
}
body {
  margin: 0;
  color: #393939;
  font-weight: 300;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
  color: rgba(57, 57, 57, 0.7);
}
h3 {
  font-size: 1em;
  color: rgba(57, 57, 57, 0.7);
}
.max960 {
  margin: 0 auto;
  padding: 0 0px 0px 0px;
  max-width: 960px;
  height: 100%;
  clear: both;
}
#page {
  padding: 0 2em;
}
section {
  margin: 0 -2em;
  padding: 3em 2em;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  opacity: 0.7;
  text-decoration: none;
  color: #393939;
  font-weight: bold;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
a:hover {
  color: #060606;
  text-decoration: none ;
  opacity: 1;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
/*******************************
          custom
*******************************/
.white {
  color: #ffffff;
}
.pink {
  color: #c29da3;
}
.darkblue {
  color: #393939;
}
.darkgreen {
  color: #95ab63;
}
.yellow {
  color: #ff9800;
}
.btn-green {
  background-color: #95ab63;
  color: #ffffff;
}
.btn-green:hover {
  background-color: #8ba037;
}
.disabled {
  pointer-events: none;
  cursor: default;
}
.disabled a {
  color: #a4b0b0;
}
ul {
  margin: 0;
}
ul li {
  list-style: none;
}
::-webkit-input-placeholder {
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
:-ms-input-placeholder {
  color: rgba(164, 176, 176, 0.7) !important;
  font-weight: 300;
  font-family: Raleway;
}
.verylightgrey1 {
  background-color: #faf8f8 !important;
}
.verylightgrey2 {
  background-color: #f5f5f5 !important;
}
.verylightgrey3 {
  background-color: #ededed !important;
}
.verylightgrey4 {
  background-color: #e6e6e6 !important;
}
#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}
.column {
  float: left;
}
.column .provider {
  margin-right: 1em;
}
.column:last-of-type .provider {
  margin-right: 0;
}
.size-1of1 {
  width: 100%;
}
.size-1of2 {
  width: 50%;
}
.size-1of3 {
  width: 33.333%;
}
.providers {
  display: inline-block;
  width: 100%;
  margin: 2em 0 4em;
}
.provider {
  margin-bottom: 2.5em;
}
.provider a img {
  width: 100%;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
.provider a:hover img {
  opacity: 0.5;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.provider .details {
  text-align: center;
}
.provider .details .name,
.provider .details .category {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.provider .details .name {
  font-size: 1.1em;
  color: #393939;
}
.provider .details .category {
  font-size: 0.8em;
  text-transform: lowercase;
}
footer {
  margin: 0 -2em;
}
footer div {
  padding: 1em 2em;
}
.submenu {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  display: block;
  font-size: 0.9em;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.submenu::after {
  content: ' \25BC';
}
.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.submenu ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 1em;
  margin-right: -1em;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 6;
  max-width: 250px;
  -webkit-transition-property: visibility,opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: visibility,opacity;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: visibility,opacity;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: visibility,opacity;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: 'linear';
  transition-property: visibility,opacity;
  transition-duration: 0.2s;
  transition-timing-function: 'linear';
}
.submenu ul li a {
  font-weight: 300;
  line-height: 2em;
}
#floating-menu {
  position: fixed;
  top: -160px;
  left: 0;
  width: 100%;
  display: block;
  background: #a4b0b0;
  z-index: 99;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: 'linear';
  -moz-transition-property: top;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: 'linear';
  -ms-transition-property: top;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: 'linear';
  -o-transition-property: top;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: 'linear';
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: 'linear';
}
#floating-menu ul li a {
  color: #ffffff;
}
#floating-menu ul li a:hover {
  color: #ffffff;
}
#floating-menu .submenu ul {
  background-color: #a4b0b0;
}
#floating-menu.show {
  top: 0px !important;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.video-wrapper {
  width: 100% !important;
  padding-bottom: 43% !important;
  height: 0 !important;
  margin: 0 auto;
}
.video-wrapper iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.searchbox {
  max-width: 150px;
}
.searchbox input {
  border: none;
  border-bottom: 1px solid rgba(194, 157, 163, 0.5);
  outline: none;
  background: #faf8f8;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}
.logo-menu {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  background: transparent url('../images/logo-menu-small.svg') no-repeat;
}
#logo {
  z-index: 2;
  width: 100%;
  min-height: 7em;
  margin-top: 3em;
  margin-bottom: 3em;
}
#logo > a {
  width: 130px;
  background: transparent url('../images/weddingpedia.svg') 0 0 no-repeat;
  height: 60px;
  display: block;
  float: right;
}
#logo > nav {
  float: right;
  clear: both;
  margin-top: 2em;
  width: 130px;
  text-align: right;
}
#logo > nav > .submenu ul li {
  text-align: right;
}
.mobile-menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  -moz-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.mobile-menu .bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.mobile-menu .bottom ul {
  width: 100%;
  padding: 0 50px;
}
.mobile-menu .bottom ul li {
  width: 33.33%;
  float: left;
  list-style: none;
}
.mobile-menu .bottom ul li a {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}
.mobile-menu .inner {
  height: 100%;
  width: 100%;
  display: table;
}
.mobile-menu .inner ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.mobile-menu .inner ul li {
  width: 100%;
  padding: 20px;
}
.mobile-menu .inner ul li a {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}
.mobile-menu .inner .close-mobile-nav {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -32px;
  width: 66px;
  height: 66px;
  margin-top: -32px;
  cursor: pointer;
}
.mobile-menu .inner .close-mobile-nav div {
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 33px;
  left: 20px;
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.text-centered {
  text-align: center;
}
.subtitle {
  font-size: 1.1em;
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto;
}
.mobile-menu.active {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
  background-color: #95ab63;
  -webkit-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  overflow-y: visible;
}
.mobile-menu.active .inner .close-mobile-nav div:nth-child(1) {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.mobile-menu.active .inner .close-mobile-nav div:nth-child(2) {
  transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
}
.mobile-nav {
  width: 30px;
  position: relative;
  cursor: pointer;
  display: none;
  float: left;
  margin-top: 34px;
  z-index: 9999;
}
.mobile-nav span {
  display: block;
  height: 2px;
  background-color: #393939;
  margin-bottom: 3px;
  width: 0;
  animation-duration: 3s;
}
.mobile-nav span:nth-child(1) {
  width: 22px;
}
.mobile-nav span:nth-child(2) {
  width: 22px;
}
.mobile-nav span:nth-child(3) {
  width: 22px;
}
.mobile-nav span:nth-child(4) {
  width: 18px;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .mobile-nav {
    display: block;
  }
  #page {
    margin-bottom: 0;
  }
  .mobile-nav {
    margin-top: 0;
    position: fixed;
    left: 2em;
    top: 2em;
  }
  #logo > nav {
    display: none;
  }
  #floating-menu {
    display: none !important;
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1 !important;
    opacity: 1 !important;
  }
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media only screen and (max-width: 420px) {
  body {
    font-size: 12px;
  }
  .header {
    height: 150px;
  }
  .mobile-menu .inner ul li {
    width: 100%;
    padding: 10px;
  }
  .mobile-menu .inner ul li a {
    font-size: 18px;
  }
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
