//@import "less/kube.less";
@import "icomoon/style.less";
@import "pick-date/base.less";
@import "pick-date/base.date.less";
@import "pick-date/classic.less";

//@import "pick-date/classic.date.css";

//@import "nprogress.less";
//@import "animate.less";

/*******************************
            Variablesm
*******************************/
@font-family-base: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@facebook-color: #3b5998;
@google-color: #d62d20;

@darkblue: #393939;
@darkgreen: #95AB63;
@brightgreen: #8BA037;
@lightgrey: #A4B0B0;
@verylightgrey1: #faf8f8;
@verylightgrey2: #f5f5f5;
@verylightgrey3: #ededed;
@verylightgrey4: #e6e6e6;
//@pink: #C2A7A1;

@pink: #c29da3;
@yellow: #FF9800;
@bkground: #fff;
//@pink: #fcf8f7;

/*******************************
            Global
*******************************/

* {
  .box-sizing(border-box);
  -webkit-tap-highlight-color: fade(@pink, 10%);

}

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  color: @darkblue;
  font-weight: 300;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: @bkground;
  overflow-y: scroll;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
  color: fade(@darkblue, 70%);
}

h3 {
  font-size: 1em;
  color: fade(@darkblue, 70%);
}

.max960 {
  margin: 0 auto;
  padding: 0 0px 0px 0px;
  max-width: 960px;
  height: 100%;
  clear: both;
}

#page {
  padding: 0 2em;
  min-height: 100%;
  width: 100%;
  position: relative;
}

#content {
  padding-bottom: 10em;
}

section {
  margin: 0 -2em;
  padding: 3em 2em;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  .opacity(0.7);
  text-decoration: none;
  color: @darkblue;
  font-weight: 300;
  .transition(~"opacity", 0.5s, 'linear');

  &:hover {
    font-weight: 600;
    //    color: darken(@darkblue, 20%);
    text-decoration: none;
    .opacity(1);
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
  }

}

//mixins
.transition ( @property, @duration, @style: ease-in-out ) {
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @style;

  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @style;

  -ms-transition-property: @property;
  -ms-transition-duration: @duration;
  -ms-transition-timing-function: @style;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @style;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @style;
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.select-none() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;

  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;

  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;

  //  -moz-background-clip:    padding;
  //  -webkit-background-clip: padding-box;
  //  background-clip:         padding-box;
}

.clearfix() {
  zoom: 1;
  &:before {
    content: '';
    display: block;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*******************************
          custom
*******************************/

.white {
  color: @bkground;
}

.pink {
  color: @pink;
}

.darkblue {
  color: @darkblue;
}

.darkgreen {
  color: @darkgreen;
}

.yellow {
  color: @yellow;
}

.btn-green {
  background-color: @darkgreen;
  color: @bkground;

  &:hover {
    background-color: @brightgreen;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;

  a {
    color: @lightgrey;
  }
}

ul {
  margin: 0;

  li {
    list-style: none;
  }
}

::-webkit-input-placeholder {
  color: fade(@lightgrey, 70%) !important;
  font-weight: 300;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: fade(@lightgrey, 70%) !important;
  font-weight: 300;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: fade(@lightgrey, 70%) !important;
  font-weight: 300;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

:-ms-input-placeholder {
  color: fade(@lightgrey, 70%) !important;
  font-weight: 300;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.verylightgrey1 {
  background-color: @verylightgrey1 !important;
}

.verylightgrey2 {
  background-color: @verylightgrey2 !important;
}

.verylightgrey3 {
  background-color: @verylightgrey3 !important;
}

.verylightgrey4 {
  background-color: @verylightgrey4 !important;
}

// icons

////grid columns

#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}

.column {
  float: left;

  .provider {
    margin-right: 2em;
  }

  &:last-of-type {
    .provider {
      margin-right: 0;

    }
  }
}

.size-1of1 {
  width: 100%;
}

.size-1of2 {
  width: 50%;
}

.size-1of3 {
  width: 33.333%;

}

.size-1of4 {
  width: 25%;

}

.bloglist {
  .clearfix();
  margin:5em 0;
  border-top:1px solid fade(@pink,20%);
  padding:1em 0;

  .post {

    .date {
      text-transform: uppercase;
      color:@pink;
    }

    h2 {
      margin-bottom:0;
    }

    h2 a {
      font-size:1.2em;
      color:@pink;
      font-weight:600;
    }

    .article-body {
      margin:2em 0;
    }
  }
}

.providers {
  display: inline-block;
  width: 100%;
  margin: 2em 0 4em;
}

.provider {

  margin-bottom: 2.5em;

  a {

  }

  a img {
    width: 100%;
    .opacity(1);
    .transition(~"opacity", 0.5s, 'linear');

  }

  a:hover img {
    .opacity(0.3);
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;

  }
  .details {
    text-align: center;

    .name, .category {
      font-weight: 300;
      padding: 0;
      margin: 0;
    }

    .name {
      font-size: 0.9em;
      color: @darkblue;
    }
    .category {
      font-size: 0.8em;
      text-transform: lowercase;
    }

  }
}

.mediumInsert-images {
  margin: 0;

  img {
    max-width: 100%;
  }
}

.mediumInsert.small img {
  float: left;
  width: 33%;
  margin: 2em;
}

.generate-child-divs(@n, @i: 1) when (@i =< @n) {

  .row-item:nth-child(@{i}) {
    background-color: fade(@pink,@i * 10%);
    padding: 1em 2em;
  }
  .generate-child-divs(@n, (@i + 1));
}

footer {
  //  margin: 5em -2em 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size:0.9em;


  .generate-child-divs(3);

  .footer-heart {
    color: @yellow;
  }
}

.facebook, .google {
  margin: 0 1em;

  &::before {
    font-size: 1.5em;
    position: relative;
    top: 0.2em;
    padding: 0 0.2em;
  }

}

.google:hover {
  color: @google-color;
}

.facebook:hover {
  color: @facebook-color;
}

.submenu {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  display: block;
  padding-right: 1em;
  display: inline-block;
  white-space: nowrap;
  .select-none;
  -webkit-tap-highlight-color: transparent;

  &::after {
    content: ' \25BC';
    position: absolute;
    top: 0;
    right: 0;
  }

  ul {
    position: absolute;
    visibility: hidden;
    .opacity(0);
    padding: 1em;
    margin-right: -1em;
    background: @bkground;
    z-index: 10;
    width: 250px;
    .transition(~"visibility,opacity", 0.2s, 'linear');
  }

  ul li {
    outline: none;
    float: none !important;
    font-size: 0.9em;
  }

  &:hover ul {
    visibility: visible;
    .opacity(1);
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
  }

  ul li a {
    font-weight: 300;
    line-height: 2em;
    width: 100%;
    display: inline-block;

    &:focus, &:active {
      outline: none;
      color: @darkblue;
      font-weight: 600;
    }

  }
}

.news-check {
  width: 100%;
  display: block;
}

.newsletter-checkbox {
  display: inline-block;
  width: 00px;

}

.signup-renew {
  margin-top: 1em;
}

#floating-menu {
  position: fixed;
  top: -160px;
  left: 0;
  width: 100%;
  display: block;
  background: @lightgrey;
  z-index: 99;
  .transition(~"top", 0.5s, 'linear');

  ul li {
    width: 25%;
    float: left;
    text-align: center;
    line-height: 4em;
    color: @bkground;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  ul li a {
    color: @bkground;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

  }

  ul li a:hover {
    color: @bkground;
  }

  .submenu {

    ul {
      background-color: @lightgrey;
      width: 100%;

      li {
        line-height: 3em;
        width: 100%;
        a {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  .submenu::after {
    content: '';
  }
}

//shows floating-menu (transition 1s)
&.show {
  top: 0px !important;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

.video-wrapper {
  width: 100% !important;
  padding-bottom: 43% !important;
  height: 0 !important;
  margin: 0 auto;
  position: relative;

  iframe {
    //    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//floating
.left {
  float: left;

}

.right {
  float: right;
}

.searchbox, .pageNum {
  max-width: 150px;
  input {
    border: none;
    border-bottom: 1px solid fade(@pink, 50%);
    outline: none;
    background: @verylightgrey1;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
  }
}

.pageNum {
  width: auto;
  float: right;
  input {
    margin-left: 1em;
    width: 2em;
    text-align: center;
  }
}

.selectedThing {
  margin-left: 1em;
  letter-spacing: 1px;
  margin-top: -1px;
  &::before {
    content: '| ';
  }

  a {
    font-weight: 300;

    &:after {
      content: "\e117";
      font-family: 'weddingpedia';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 0.7em;
      padding-left: 1em;
    }
  }

}

//parola vimeo
//unikt@gmail.com
//parola 19carinutA!

.logo-menu {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  background: transparent url('../images/logo-menu-small.svg') no-repeat;
}

#logo {
  z-index: 2;
  width: 100%;
  min-height: 7em;
  padding-top: 3em;
  margin-bottom: 3em;

  > a {
    width: 130px;
    background: transparent url('../images/weddingpedia.svg') 0 0 no-repeat;
    height: 60px;
    display: block;
    float: right;
  }

  > nav {
    clear: both;
    padding-top: 2em;
    text-align: right;
    display: inline-block;
    width: 100%;
  }

  & .submenu ul {
    right: 0;
    li {
      text-align: right;
    }
  }
}

// -- mobile menu
.mobile-menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .opacity(0);
  visibility: hidden;
  overflow-y: hidden;
  .transition(~'color', 0.3s, 'ease-out');

  .bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;

    ul {
      width: 100%;
      padding: 0 50px;
    }

    ul li {
      width: 33.33%;
      float: left;
      list-style: none;
    }

    ul li a {
      color: #fff;
      font-size: 32px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
    }

  }

  .inner {
    height: 100%;
    width: 100%;
    display: table;

    ul {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    ul li {
      width: 100%;
      padding: 20px;
    }

    ul li a {
      color: #fff;
      font-size: 32px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
    }

    .close-mobile-nav {
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -32px;
      width: 66px;
      height: 66px;
      margin-top: -32px;
      cursor: pointer;

      div {
        width: 24px;
        height: 4px;
        background-color: @bkground;
        position: absolute;
        top: 33px;
        left: 20px;
        -moz-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;

      }
    }
  }
}

.text-centered {
  text-align: center;
}

.subtitle {
  font-size: 1em;
  font-weight: 300;
  max-width: 600px;
  margin: 1em auto;
  line-height: 1.5em;

}

.mobile-menu.active {
  .opacity(1);
  visibility: visible;
  background-color: @darkgreen;
  -webkit-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  overflow-y: visible;

}

.mobile-menu.active .inner .close-mobile-nav div:nth-child(1) {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.mobile-menu.active .inner .close-mobile-nav div:nth-child(2) {
  transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
}

//buton for opening mobile menu (with span as lines)
.mobile-nav {
  width: 30px;
  position: relative;
  //  display: inline-block;
  cursor: pointer;
  display: none;
  float: left;
  margin-top: 34px;
  z-index: 9999;

  span {
    display: block;
    height: 2px;
    background-color: @darkblue;
    margin-bottom: 3px;
    width: 0;
    animation-duration: 3s;
  }

  span:nth-child(1) {
    width: 22px;
  }

  span:nth-child(2) {
    width: 22px;
  }

  span:nth-child(3) {
    width: 22px;
  }
  span:nth-child(4) {
    width: 18px;
  }
}

.work-with-it {
  margin-left: -1.5em;
  margin-right: 0.5em;
  color: @brightgreen;
}

.overlay {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  visibility: hidden;
  .opacity(0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: fade(@darkblue, 60%);
  z-index: 9999;
  padding: 0;
  margin: 0;
  .transition(~"all", 0.5s, 'linear');

  align-items: center;
  justify-content: center;

  .overlay-content {
    max-width: 400px;
    background-color: @bkground;
    color: @darkblue;
    padding: 3em 1em;
  }
}

.overlay-show {
  .opacity(1) !important;
  visibility: visible !important;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

//login things

form {
  //  margin-top:3em;
  max-width: 300px;
  margin: 0 auto;

  input {
    width: 100%;
    border: none;
    line-height: 1.5em;
    font-size: 1em;
    padding: 0.5em;

    border: none;
    border-bottom: 1px solid fade(@darkgreen, 40%);
    text-align: center;
    margin-bottom: 0.5em;
    color: @darkblue;

    &:focus, &:active {
      //      border: none;
      border-bottom: none;
      outline: 1px solid fade(@darkgreen, 0%);
      //      outline: 1px transparent black;
      outline-offset: -1px;
      -webkit-box-shadow: 0 0 0px 1000px fade(@darkgreen, 10%) inset !important;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px @bkground inset !important;
}

.width-5 {
  width: 5%
}

;
.width-80 {
  width: 80%
}

;
.width-15 {
  width: 15%
}

;

.pad-top-2em {
  margin-top: 2em !important;
}

.noFavorites {
  display: none;
}

.userProviderList {
  max-width: 700px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;

  .favorite-row {
    width: 100%;
    display: inline-block;
    margin:1em 0;

    .counter {
      width: 10%;
    }

    .name {
      width: 70%;
    }

    .buttons {
      width: 20%;
    }
  }

  .isWorking {
    //    border-bottom: none;

    .name {
      color: @darkgreen;
    }
  }

  .favorite-details {
    border: none;
    margin: 1em 0 0 0;
    display: none;
    width:100%;
    position:relative;
    overflow:visible !important;

    .btnsActionFavorite {
      width: 20%;
      float: right;
      position: absolute;
      bottom: 0.2em;
      right: 0;
    }

    .favorite-details-form {
      max-width: none;
      width: 75%;
      margin-left:10%;

      input {
        width: auto;
      }

      textarea, input {
      }

      textarea {
        line-height: 1.5em;
        font-size: 1em;
        padding: 0.5em;
        border: none;
        border-bottom: 1px solid rgba(149, 171, 99, 0.4);
        text-align: left;
        margin-bottom: 0.5em;
        color: #393939;
        resize: none;

        &:focus, &:active {
          border-bottom: 1px solid rgba(149, 171, 99, 0);
          outline: 1px solid rgba(149, 171, 99, 0);
          outline-offset: -1px;
          -webkit-box-shadow: 0 0 0px 1000px rgba(149, 171, 99, 0.1) inset !important;
        }
      }

      .favorite-amount, .favorite-date {
        width: 50%;
        display: inline-block;
      }
      .favorite-comments {
        width: 100%;
      }
    }


    .favSave, .favCancel {
      padding: 0 0.5em;
      margin: 0.5em 0.2em;
      text-align: center;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      float: right;
      .transition('opacity', 0.3s, 'ease');
      .opacity(0.7);

      /* border-radius: 50%; */
      line-height: 2.5em;
      width: 2.5em;

      &:after {
        font-family: weddingpedia;
        color:@bkground;
      }

      &:hover {
        .opacity(1);
        transition-delay: 0s;
        -moz-transition-delay: 0s;
        -webkit-transition-delay: 0s;
      }
    }



    .favSave {
      background: @brightgreen;

      &:after {
        content: '\e116';
      }
    }


    .favCancel {
      background: @pink;

      &:after {
        content: '\e115';
      }
    }




  }

  .title-userproviderlist {
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 1em 0;

    div {
      font-size: 0.8em;
      padding: 1em 0;

      span {
        padding: 0 1em;
        font-family: @font-family-base;

        &:before {
          font-family: weddingpedia;
          margin-right: 0.5em;
          font-size: 0.7em;
          color: @brightgreen;
        }
      }
    }

  }

  .btnDeleteFavorite, .btnWorkWithIt, .btnDisplayWork {
    padding: 0 1em;
    margin: 0;
    text-align: right;
    cursor: pointer;
    .select-none;
    float: right;

    &:after {
      font-family: weddingpedia;
      .transition('opacity', 0.3s, 'ease');
      .opacity(0.7);
    }

    &:hover:after {
      .opacity(1);
      transition-delay: 0s;
      -moz-transition-delay: 0s;
      -webkit-transition-delay: 0s;
    }
  }

  .btnDeleteFavorite {
    &:after {
      content: '\e117';
      color: @pink;
    }

  }

  .btnDisplayWork {
    &:after {
      content: '\e097';
      color: @brightgreen;
    }

    &.upArrow {
      &:after {
        content: '\e096';
        color: @brightgreen;
      }
    }
  }

  .btnWorkWithIt {
    &:after {
      content: '\e114';
      color: @brightgreen;
    }
  }

}

.provider-title {
  margin-bottom: 0;
}

.provider-category {
  margin-top: 0;
}

#fav-button {
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
  color: @darkgreen;
  width: 100%;
  padding: 1em 0;
  .opacity(1);
  .transition(~"opacity", 0.5s, 'linear');
  cursor: pointer;
  .select-none;

  &.liked-true {
    color: @pink;
  }

  &:hover {
    .opacity(0.7);
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
  }
}

.video-socialbuttons {

  position: absolute;
  top: 2em;
  left: -1em;
  z-index: 3;
  .transition(~"all", 0.5s, 'linear');

  &.playing {
    top: -5em;
    left: 1em;
  }

  .btns {
    text-align: center;
    line-height: 2em;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    display: inline-block;
    font-family: 'weddingpedia';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: @bkground;
    .opacity(0.7);
    .transition(~"opacity", 0.5s, 'linear');
    cursor: pointer;

    &:hover {
      .opacity(1);
      transition-delay: 0s;
      -moz-transition-delay: 0s;
      -webkit-transition-delay: 0s;
    }

    &.fb {
      .border-radiuses(0.2em, 0.2em, 0, 0);
      background-color: @pink;
      &:after {
        content: '\f09a';
      }
    }
    &.googl {
      .border-radiuses(0, 0, 0.2em, 0.2em);
      background-color: fade(@pink, 60%);
      &:after {
        content: '\f1a0';
      }
    }
  }

}

button {
  min-width: 10em;
  background-color: @bkground;
  border: none;
  font-size: 1.1em;
  padding: 0.3em;
  font-weight: 300;
  margin: 0.5em;
  padding: 1em 0;
  outline: none;
  cursor: pointer;
  .opacity(0.7);
  .transition(~"opacity", 0.5s, 'linear');

  &:hover {
    .opacity(1);
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
  }

  &.width100 {
    width: 100%;
  }

  &.positive {
    background-color: @darkgreen;
    color: @bkground;
  }

  &.pink {
    background-color: @pink;
    color: @bkground;
  }
}

.pagination {

  ul li {
    width: 3em;
    float: left;

    &.first, &.last {
      content: ' ';
    }

    &.first a::before, &.last a::before {
      //      top: 1px;
      .opacity(0.7);
      font-family: 'weddingpedia';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
    }

    &.last a::before {
      content: '\e095';

    }
    &.first a::before {
      content: '\e094';

    }

    a {
      width: 100%;
      display: block;
      line-height: 2em;
      text-align: center;

    }

    &.active a {
      .opacity(1);
      font-weight: 600;
      pointer-events: none;
    }
  }
}

.login-social {
  padding: 1em 0;
  h3 {
    margin-bottom: 0.5em;

    > a {
      line-height: 1.5em;
      line-height: 2em;
      font-size: 1.4em;
    }
  }
  p {
    margin-top: 0;
  }
}

#login .login-submit {
  margin: 1em 0;
}

// ----- media queries

@media only screen and (max-width: 767px) {

  body {
    font-size: 13px;

  }

  .mobile-nav {
    display: block;
  }

  #page {
    margin-bottom: 0;
  }

  #logo {
    padding-top: 1em;
  }

  .mobile-nav {
    //    display: inline-block;
    //    margin-top: -2.5em;
    //    text-align: right;
    //    float: right;
    position: fixed;
    display: block;
    top: 5em;
    right: 2em;
    .transition(~'top', 0.5s, 'ease-in-out');
  }

  .mobile-menu-fixed {
    top: 0em;
  }

  #logo > nav {
    display: none;
  }

  #floating-menu {
    display: none !important;
    .opacity(1) !important;
  }

  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }

  .mediumInsert.small img {
    float: left;
    width: 50%;
    margin: 1em 1em 1em 0;
  }

  .userProviderList {

    .favorite-details .favorite-details-form input {
      width: 100%;
    }

    .favorite-details .favorite-details-form .favorite-date {
      width: 100%;
    }

    .favorite-details .favorite-details-form .favorite-amount {
      width: 100%;
    }

    .favorite-row {
      width: 100%;

      .counter {
        width: 10%;
      }

      .name {
        width: 60%;
      }

      .buttons {
        width: 30%;
      }
    }
  }

}

@media only screen and (max-height: 450px) {

  .mobile-menu .inner ul li {
    padding: 0.1em;

    a {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 450px) {

  body {
    font-size: 14px;
  }

  .header {
    height: 150px;
  }

  .mobile-menu .inner ul li {
    width: 100%;
    padding: 0.5em;
  }

  .mobile-menu .inner ul li a {
    font-size: 1.5em;
  }

  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }

  .pageNum {
    float: none;
    clear: both;
    padding: 2em 0 2em 1em;
  }

  .searchbox {
    float: left;
    clear: both;
    width: 100%;
    max-width: 100%;
    margin: 2em 0;

    input {
      width: 100%;
      text-align: left;
    }
  }

  .mediumInsert.small img {
    float: none;
    width: 100%;
    margin: 0em;
  }

  #fav-button {
    text-align: center;
  }

  .userProviderList {

    .favorite-details .favorite-details-form {
      position: relative;
      margin-top: 1em;
    }

    .favorite-details .favorite-details-form input {
      width: 100%;
    }

    .favorite-details .favorite-details-form .favorite-date {
      width: 100%;
    }

    .favorite-details .favorite-details-form .favorite-amount {
      width: 100%;
    }

    .favorite-row {
      width: 100%;

      .counter {
        width: 10%;
      }

      .name {
        width: 55%;
      }

      .buttons {
        width: 35%;
      }
    }
  }

}

