//@import "less/kube.less";
//@import "icomoon/style.less";
//@import "nprogress.less";
@import "animate.less";

/*******************************
            Variablesm
*******************************/

@facebook-color: #3b5998;
@google-color: #d62d20;

@darkblue: #1F1F1F;
@darkgreen: #95AB63;
@brightgreen: #8BA037;
@lightgrey: #A4B0B0;
//@pink: #C2A7A1;

@pink: #c29da3;
@yellow: #FF9800;
@bkground: #fbfbfb;
//@pink: #fcf8f7;

/*******************************
            Global
*******************************/


* {
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
}

body {
  min-width: 320px;
  margin: 0;
  color: @darkblue;
  font-weight: 300;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: @bkground;
}

a {
  text-decoration: none;
  color: @darkblue;
  font-weight: bold;
}

a:hover {
  text-decoration: underline !important;
  color: darken(@darkblue, 20%);
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul {
  margin:0;
  padding:0;
}


/*******************************
          custom
*******************************/

.white {
  color: @bkground;
}

.pink {
  color: @pink;
}

.darkblue {
  color: @darkblue;
}

.darkgreen {
  color: @darkgreen;
}

.yellow {
  color: @yellow;
}

.btn-green {
  background-color: @darkgreen;
  color: @bkground;

  &:hover {
    background-color: @brightgreen;
  }
}


.disabled {
  pointer-events: none;
  cursor: default;

  a {
    color: @lightgrey;
  }
}


nav ul li {
  list-style: none;
}

::-webkit-input-placeholder {
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

:-moz-placeholder { /* Firefox 18- */
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

::-moz-placeholder {  /* Firefox 19+ */
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}

:-ms-input-placeholder {
  color:fade(@lightgrey,70%) !important;
  font-weight:300;
  font-family: Raleway;}



#floating-menu {
  position: fixed;
  top: -160px;
  left: 0;
  width: 100%;
  display: block;
  background: @lightgrey;
  z-index: 99;
  -moz-transition: 1s;
  transition: 1s;

  ul li a {
    color: @bkground;
  }

  ul li a:hover {
    color: @bkground;
  }

  .submenu ul {
    background-color: @lightgrey;

  }

  //shows floating-menu (transition 1s)
  &.show {
    top: 0px !important;
  }
}


.video-wrapper {
  width: 100% !important;
  padding-bottom: 43% !important;
  height: 0 !important;
  margin: 0 auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//parola vimeo
//unikt@gmail.com
//parola 19carinutA!



.logo-menu {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  background: transparent url('../images/logo-menu-small.svg') no-repeat;
}

#logo {
  z-index: 2  ;
  a {
    width: 190px;
    background: transparent url('../images/weddingpedia.svg') 0 0 no-repeat;
    background-size: 190px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }

  a:hover {
    width: 190px;
    background: transparent url('../images/weddingpedia.svg') 0 -101px no-repeat;
    background-size: 190px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
}


// -- mobile menu
.mobile-menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  -moz-transition: color .3s ease-out;
  transition: color .3s ease-out;

  .bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;

    ul {
      width: 100%;
      padding: 0 50px;
    }

    ul li {
      width: 33.33%;
      float: left;
      list-style: none;
    }

    ul li a {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
    }

  }

  .inner {
    height: 100%;
    width: 100%;
    display: table;

    ul {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    ul li {
      width: 100%;
      padding: 20px;
    }

    ul li a {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
    }

    .close-mobile-nav {
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -32px;
      width: 66px;
      height: 66px;
      margin-top: -32px;
      cursor: pointer;

      div {
        width: 24px;
        height: 4px;
        background-color: @bkground;
        position: absolute;
        top: 33px;
        left: 20px;
        -moz-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;

      }
    }
  }
}

.mobile-menu.active {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
  background-color: @darkgreen;
  -webkit-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  overflow-y: visible;

}

.mobile-menu.active .inner .close-mobile-nav div:nth-child(1) {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.mobile-menu.active .inner .close-mobile-nav div:nth-child(2) {
  transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
}

//buton for opening mobile menu (with span as lines)
.mobile-nav {
  width: 30px;
  position: relative;
  //  display: inline-block;
  cursor: pointer;
  display: none;
  float: left;
  margin-top: 34px;
  z-index: 9999;

  span {
    display: block;
    height: 2px;
    background-color: @darkblue;
    margin-bottom: 3px;
    width: 0;
    animation-duration: 3s;
  }

  span:nth-child(1) {
    width: 22px;
  }

  span:nth-child(2) {
    width: 22px;
  }

  span:nth-child(3) {
    width: 22px;
  }
  span:nth-child(4) {
    width: 18px;
  }
}


// ----- media queries

@media only screen and (max-width: 767px) {

  body {
    font-size: 13px;

  }

  .mobile-nav {
    display: block;
  }

  #page {
    margin-bottom: 0;
  }



  .mobile-nav {
    margin-top: 0;
    position: fixed;
    right: 2em;
    top: 2em;
  }

#floating-menu {
    display: none !important;
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1 !important;
    opacity: 1 !important;
  }


}

@media only screen and (max-width: 420px) {

  body {
    font-size: 12px;
  }

  .header {
    height: 150px;
  }

  .mobile-menu .inner ul li {
    width: 100%;
    padding: 10px;
  }

  .mobile-menu .inner ul li a {
    font-size: 18px;
  }

}