extends ../layouts/default

block main
block content

    .ui.transition.information.visible.paddingvertical
        h1.ui.header.center.aligned despre ce e vorba?
        p.large.center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        //.large.teal.animated.fade.ui.button.pink.center.center
        //    .visible.content esti furnizor?
        //    .hidden.content scrie-ne



        .ui.page.grid.overview.segment
            .ui.two.wide.column
            .twelve.wide.column
                .ui.three.column.center.aligned.stackable.divided.grid
                    .column
                        .ui.icon.header
                            i.circular.book.link.icon
                            | Courses
                        p Take your kitty to a cat-ducation course and learn how to treat her well.
                        p
                            a.ui.red.right.labeled.icon.button(href='#')
                                | Learn
                                i.right.long.arrow.icon
                    .column
                        .ui.icon.header
                            i.circular.code.link.icon
                            | Library
                        p
                            | Dig through our cat library to found out amazing things you can do with your kitty.
                        p
                            a.ui.red.right.labeled.icon.button(href='#')
                                | Research
                                i.right.long.arrow.icon
                    .column
                        .ui.icon.header
                            i.circular.user.link.icon
                            | Community
                        p
                            | Get feedback on your cat from a community of loving pet owners on our online bulletin board system.
                        p
                            a.ui.red.right.labeled.icon.button(href='#')
                                | Share
                                i.right.long.arrow.icon


        .ui.icon.header.center.aligned
            i.circular.facetime.video.icon.large
            | Iti place ce vezi?
            .sub.header daca vrei sa apari in weddingpedia, contacteaza-ne