
extends ../layouts/default
block main
block content
    hgroup
        h1.text-centered log in
        h3.subheading.text-centered log in cu facebook | google

    .units-row.end
        form.large.forms.group.unit-centered.unit-50(action='/users/session',method='post')
            .social-login
                a.icon.icon-facebook(href='/auth/facebook') facebook
                a.icon.icon-googleplus(href='/auth/google') google
            .text-centered
                | Nu esti fan social media? Absolut ok!

            fieldset
                - var klass = (message.text!='' ? 'error-border' : '')
                .input-groups.width-100
                    span.input-prepend.icon.icon-user
                    input(placeholder='email', name='email',type='email',required='true')
                //div(class=klass).input-groups.with-button.width-100
                div(class="#{message=='email' ? 'error-border':''}").input-groups.with-button.width-100
                    span.input-prepend.icon.icon-lock
                    input(placeholder='parola', name='password',type='password',required="true")
                    button.btn-submit.btn-red(type='submit') ok

                .error-display-box
                    if (message!='')
                        .login-error-message.animated.fadeIn
                            | #{message}

    .text-centered
        a(href='/signup') Creeaza un cont nou!
