extends ../layouts/default
//block main
block content
    section
        .max960
            div.text-centered
                h1 log in

                .login-social
                    h3
                        a.facebook(href='/auth/facebook') facebook
                        span &nbsp|&nbsp
                        a.google(href='/auth/google') google
                    //p creeaza cont sau autentifica-te cu social media.<br/>
                    //    | nu stocam decat minimul necesar pentru a te autentifica in siguranta

                form#login(action='/users/session',method='post').text-centered


                    p Nu esti fan social media? Absolut ok!

                    - var klass = (message.text!='' ? 'error-border' : '')

                    input(placeholder='email', name='email',type='email',required='true')

                    input(placeholder='parola', name='password',type='password',required="true")

                    button.positive.width100(type='submit') ok

                    label
                        | primesti noutati de la noi
                        input.newsletter-checkbox(type='checkbox', value='true',checked='true')


            .text-centered.signup-renew
                a(href='/signup') creeaza cont nou |&nbsp
                a(href='/sendemail') recupereaza parola




