extends auth
block auth

    hgroup
        h1.text-centered creare cont nou
        h2.subheading.text-centered completeaza informatiile cerute mai jos


    .units-row.large-vertical-space
        form.large.forms.group.unit-centered.unit-50(action='/users/session',method='post')
            .input-groups.pause.width-100.mobile-width-70
                span.input-prepend.icon.icon-user
                input.input-big(placeholder='numele tau', name='name',type='text')
            .input-groups.pause.width-100.mobile-width-70
                span.input-prepend.icon.icon-mail
                input.input-big(placeholder='email', name='email',type='email')
            .input-groups.pause.width-100.mobile-width-70
                span.input-prepend.icon.icon-lock
                input.input-big(placeholder='parola', name='password',type='password')
            .input-groups.pause.width-100.mobile-width-70
                span.input-prepend.icon.icon-lock
                input.input-big(placeholder='verifica parola', name='compare-password',type='password')
            .text-centered.padding-vertical
                a(href='#')
                    button.btn-red(type='submit') creare cont


    .text-centered.padding-vertical
        a(href='/login') login?


