extends auth
block auth

    .ui.transition.information.visible.paddingvertical
        h1.ui.header.center.aligned creare cont nou
        p.large.center completeaza informatiile cerute
    .ui.three.column.stackable.grid
        .column
        .column
            form.ui.large.form.warning.segment(action='/users',method='post')
                .ui.warning.message.hidden
                    .header ai uitat cate ceva!
                        ul.list
                            li nu ai completat adresa de email
                            li parola care este?

                .field
                    label prenume si nume
                    input(placeholder='numele tau', name='name',type='text')
                .field
                    label adresa de email
                    input(placeholder='email', name:'email',type='email')
                    .hidden.ui.red.pointing.above.ui.label adresa de email?
                //.field
                //    label username
                //    input(placeholder='username', name='username',type='text')

                .field
                    label parola
                    input(placeholder='parola', name='password',type='password')
                    .hidden.ui.red.pointing.above.ui.label parola?
                .center
                    .ui.buttons.center.aligned
                        .ui.red.submit.button(type='submit') creare cont
                        .or
                        a(href='/login')
                            .ui.basic.teal.submit.button login
        .column