extends auth
block auth

    h1.text-centered cont nou
    h3.subheading.text-centered nu e complicat, nu?

    form.text-centered(action='/users',method='post')
        input.input-big(placeholder='numele tau', name='name',type='text')
        input.input-big(placeholder='email', name='email',type='email')
        input.input-big(placeholder='parola', name='password',type='password')
        input.input-big(placeholder='verifica parola', name='compare-password',type='password')
        button.positive(type='submit') ok

    .text-centered
        a(href='/login') login cu facebook / google


