extends ../layouts/default
block main

block content
        h1 Aristocrat Events
        h5 video-ul zilei


        #video-main.ui.center.aligned
            .video-wrapper
                iframe(src="http://player.vimeo.com/video/96030980?badge=0", width="500", height="281", frameborder="0", webkitallowfullscreen, mozallowfullscreen ,allowfullscreen)
                .video-social
                    a.social-button.fb(href='facebook')
                    a.social-button.gg(href='google')
