extends ../layouts/default
block content

    if !providerRoot
        section#one

            .max1116.unit-padding
                .video-wrapper
                    iframe(src='//player.vimeo.com/video/98648575', width='600', height='255', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')


        section
            .text-centered.section-title.max700
                h1 furnizori de nunta
                    h2.text-centered.unit-padding Weddingpedia iti prezinta cei mai buni furnizori pentru nunta ta sub forma video: restaurant de nunta, cameraman, fotograf, flori, make-up si hair-styling de nunta. Totul pentru ca tu sa ai o nunta superba.

    //TODO:pagination
    include ../home/providers


    if !providerRoot
        //about weddingpedia
        section#three
            .section-title
            h2.text-centered Misiunea Weddingpedia

            .max1116.text-centered.unit-padding
                p asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                p asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
