extends ../layouts/default
block content


    if !providerRoot
        section#one

            .max1116.unit-padding
                .video-wrapper
                    iframe(src='//player.vimeo.com/video/98648575', width='600', height='255', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')



    //TODO:pagination
    include ../includes/providers


    if !providerRoot
        //about weddingpedia
        section#three
            .text-centered.section-title
                h1 Misiunea Weddingpedia

            .max1116.text-centered
                p asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                p asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
                    | asdj askldja sdlkj qwlkej qkdasj do qwlej lkdajsldkj qwoieuq lkajs lkdj lwqeu qoiwu dasjd aslkdja sdkl
