extends ../layouts/default
block content



    if !providerRoot

        section
            .max960
                .video-wrapper
                    iframe(src='//player.vimeo.com/video/98648575', width='600', height='255', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')

                h1.text-centered Furnizori de nunta
                p.text-centered.subtitle Weddingpedia iti prezinta cei mai buni furnizori pentru nunta ta sub forma video: restaurant de nunta, cameraman, fotograf, flori, make-up si hair-styling de nunta. Totul pentru ca tu sa ai o nunta superba.


    include ../home/providers


    if !providerRoot
        section
            .max960
                //about weddingpedia
                h2.text-centered Misiunea Weddingpedia


                p.subtitle Toate schimbările legislative şi instituţionale produse în ultimii ani şi cele ce vor mai urma nu au nici o şansă de a determina schimbări de profunzime în societate dacă ele nu sunt dublate de o reformă autentică a clasei politice şi de stoparea folosirii administraţiei de către aceasta pentru a-şi însuşi fraudulos o parte din banii publici.
                p.subtitle Ambele probleme se reflectă direct asupra nivelului de trai al românilor, şi nu atât de mult din cauza drenării resurselor bugetare, cât mai ales pentru că pervertirea relaţiilor dintre membrii elitei politice şi administrative compromite total orice şansă ca la guvernare să ajungă oameni competenţi, care să pună interesul public mai presus de interesele personale şi de grup.
