
extends ../../layouts/default
block content


    h1.left Furnizori
    //div
    //    a.unit-25.btn(href='/admin/providers/new') Adauga furnizor
    button.right.btn-green.btn-outline.btn-small(onClick="window.location.href='/admin/providers/new'") Adauga furnizor




    table.providerList.pad-top-3em
        thead
            tr
                th.width-5
                th.width-75
                    | nume furnizor
                th.width-20.text-right
                    | vizibil?
        tfoot
            tr
                th.width-5
                th.width-75
                    if (pages > 0)
                        .pagination
                            ul
                                != createPagination(pages, page,perpage)
                th.width-20.text-right
                    .pageNum #
                        input.howmany(name='perpage',placeholder='page',value=perpage)
        tbody
            - var cntProvider = 0;
            each category, i in providers

                tr
                    td.no-border
                    td.category-name #{i}

                each provider , j in category

                    - cntProvider++;

                    tr
                        td
                            span=cntProvider
                        td
                            a(href='/admin/providers/update/'+provider._id) #{provider.name}
                        td.text-right
                            if provider.visibleOnline
                                span.darkblue DA
                            else
                                span.pink NU
