extends ../layouts/default
block content
    section
        .max960
            h1.text-centered povestirile noastre

            each article, i in articles
                .bloglist
                    .post
                        h2
                            a(href='/blog/'+article._id)= article.title
                        .date !{moment(article.createdAt).format('DD MMMM YYYY')}

                        div.article-body !{article.body}

            if (pages > 1)
            .navigation-buttons
                != createPagination(pages, page)



