extends ../layouts/default
block content
    section#two
        .max700
            h1=title
            a.btn.btn-big.btn-blue(href="/blog/new") Adauga un post
            #articles
                - each article in articles
                    .article
                        p.data=createdAt
                        //h3
                        a(href='/blog/'+article._id)!=article.title
                        p !{article.body}