extends ../layouts/default
block content
    section#two
        .max700
            h1=title
                #articles
                    - each article in articles
                        .article
                            p.created_at=article.created_at
                            h2
                                a(href='/blog/'+article._id)!=article.title
                            p=article.body