extends ../layouts/default
block content
    section
        .max700
            .section-title
            a.btn(href="/blog/new") Adauga un post
            h1.text-centered povestirile noastre

            each article, i in articles
                .bloglist.unit-padding
                    .post
                        .date !{moment(article.createdAt).format('DD MMMM YYYY')}
                        h2
                            a(href='/blog/'+article._id)= article.title
                        p !{article.body}

            if (pages > 1)
            .navigation-buttons
                != createPagination(pages, page)



