extends ../layouts/default
block content
    .text-centered.section-title.max700
        h1 un nou post pe blog
        p dublu-click pe text pentru a-l formata

    .formblog.max700.unit-padding
        form#newBlogPost
            label
                | Titlu post
                input.input-big.titlu(name='title',placeholder='titlu')
            label
                | SEO keywords (cu virgula)
                input.input-big.titlu(name='keywords',placeholder='seo keywords')
            label
                | URL (fara http)
                input.input-big.titlu(name='url',placeholder='url')
            label
                | Data crearii
                input.input-big.titlu(name='creationDate',type="date", placeholder='titlu')
        label
            | Text
        .mediumblog

        .unit-padding.clearfix
            button.right.btn.btn-large.btn-green(type='submit') salveaza postarea


        .result
