extends layouts/default
//block main

block content
    .max700.text-centered.unit-padding
        section
            .section-title
            h1 uuuups! weddingpedia nu gaseste ceea ce doresti!
            p Cu siguranta este greseala noastra (eroare 404), iti cerem scuze pentru aceasta.