extends layouts/default
//block main
block content
    .max700.text-centered.unit-padding
        section
            .section-title
            h1 uuuups! weddingpedia are o problema grava!
            p Ne straduim sa remediem, scrie-ne daca e deranjant pentru tine (eroare 500)!