extends layouts/default

block content
    .ui.page.grid.segment.appearFadeIn
        .row
            .column
                h1 weddingpedia are o eroare inexplicabila! uuuups!
                h2 eroare 500
                p !{error}

