script(type='text/javascript', src='/javascript/jquery.min.js')
script(type='text/javascript', src='/javascript/medium-editor.js')
script(type='text/javascript', src='/javascript/medium-editor-insert-plugin.all.js')
script(type='text/javascript', src='/javascript/select2.js')
script(type='text/javascript', src='/javascript/select2_locale_ro.js')
script(type='text/javascript', src='/javascript/admin.js')


