#sidebar

    //logo

    .logo
        h1
            a(href="/admin") ADMIN

    nav.navbar
        ul
            li
                a.homepage-sidebar(href="/") homepage

            li
                a(href="/admin/providers") furnizori
            li
                a(href="/admin/userlist") utilizatori
            li
                a(href="/admin/blog") povestiri
            li
                a(href="/despre") despre noi

            li
                a.item(href='/logout', title='logout') logout


    .copyright made with love <br/>by <a href="http://themobile.ro">themobile</a>